#Tex1{
    width: 80%;
    float:left;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 100%;
    text-align:justify;
    
}
#p_texto1{
    text-align:center;
  
    
}
#imagen1{
    width: 20%;
    float:right;
}
#separacion{
    clear:both;
}
#Tex2{
    width: 80%;
    float:right;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size:100%;
    text-align:justify;
}
#p_texto2{
    text-align:center;
}
#imagen2{
    width:100;
    float:left;
}


